# See SsaConfig.from_env() in ../aps-ssa/src/aps_ssa/config.py
APS_CLIENT_ID=
APS_CLIENT_SECRET=
APS_SERVICE_ACCOUNT_ID=
APS_SSA_KEY_ID=
APS_SSA_PRIVATE_KEY_PATH=../secrets/ssa_private_key.pem
APS_BASE_URL=https://developer.api.autodesk.com
APS_SCOPES=data:read data:write data:create account:write account:read
APS_REQUEST_TIMEOUT_SECONDS=15
